
.icon-cloud-sun:before { content: '\e800'; } /* '' */
.icon-cloud-moon:before { content: '\e801'; } /* '' */
.icon-snowflake:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-moon:before { content: '\e804'; } /* '' */
.icon-mist:before { content: '\e805'; } /* '' */
.icon-wind:before { content: '\e806'; } /* '' */
.icon-cloud:before { content: '\e807'; } /* '' */
.icon-cloud-flash:before { content: '\e808'; } /* '' */
.icon-rain:before { content: '\e809'; } /* '' */
.icon-windy:before { content: '\e80a'; } /* '' */
.icon-windy-rain:before { content: '\e80b'; } /* '' */
.icon-snow:before { content: '\e80c'; } /* '' */
.icon-snow-heavy:before { content: '\e80d'; } /* '' */
.icon-hail:before { content: '\e80e'; } /* '' */
.icon-clouds:before { content: '\e80f'; } /* '' */
.icon-clouds-flash:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-undo:before { content: '\e813'; } /* '' */
