:root {
  --hover-text-color: rgba(163, 162, 162, 1);

  --box-background: rgba(16, 52, 68, 0.2);
  --box-shadow: rgb(3, 3, 0);

  --border-color: white;

  --error-message: darkorange;

  --skeleton-box-shadow: rgba(33, 33, 33, 0.15);
  --skeleton-start-color: #eee;
  --skeleton-end-color: #ddd;
}
